<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Joaquin's Clothing Store</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <script type="text/javascript">
        	var user = '{{request.user}}'

          function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
              const cookies = document.cookie.split(';');
              for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
                }
              }
            }
            return cookieValue;
          }

        	var csrftoken = getToken('csrftoken');

          function getCookie(name) {
            var cookieArray = document.cookie.split(";");

            for(var i=0; i<cookieArray.length; i++) {
              var cookiePair = cookieArray[i].split("=");

              if(name == cookiePair[0].trim()) {
                return decodeURIComponent(cookiePair[1]);
              }
            }
            // If not foun return null
            return null;
          }
          
          var cart = JSON.parse(getCookie('cart'));
          if(cart == undefined) {
            cart = {};
            console.log("Cart was created!");
			document.cookie = "cart=" + JSON.stringify(cart) + ";domain=;path=/";
          }

		  console.log("Cart:", cart);
        </script>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a href="{% url 'store' %}" class="navbar-brand">Joaquin's Clothing Store</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
      
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a href="{% url 'store' %}" class="nav-link">Store</a>
                </li>
              </ul>
              <div class="form-inline my-2 my-lg-0" style="display: flex;">
                <a href="#" class="btn btn-warning">Login</a>
                <div style="display: flex;">
                    <div style="display: flex; align-self: center; margin-right: 3px;">
                      <a href="{% url 'cart' %}">
                        <img id="cart-icon" src="{% static 'images/cart.png'%}">
                      </a>
                    </div>
                    <p id="cart-total">{{cartItems}}</p>
                </div>
              </div>
            </div>
        </nav>
        <div class="container">
            {% block content %}

            {% endblock content %}
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
    </body>
</html>